/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* remove list decorations */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Typography */
h1 {
  font-size: 1.25rem;
}

p {
  color: hsl(0, 0%, 78%);
}

/* ------------------- */
/* Themes              */
/* ------------------- */

html.light {
  --bg-color: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --text-color: hsl(0, 0%, 0%);
  --box-color: hsl(200, 60%, 99%);
  --themeIcon-bg-color: hsl(0, 0%, 93%);
  --activeButton-bg: hsl(3, 77%, 44%); 
}

html.dark {
  --bg-color: linear-gradient(180deg, #040918 0%, #091540 100%);
  --text-color: hsl(0, 0%, 100%);
  --box-color: hsl(225, 23%, 24%);
  --themeIcon-bg-color: hsl(226, 11%, 37%);
  --activeButton-bg: hsl(3, 86%, 64%);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.margin-top {
  margin-top: auto;
}

.container {
  padding: .25rem;
  margin-inline: auto;
}

.border-radius-1 {
  border-radius: 1rem;
}

.border-radius-2 {
  border-radius: 2rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

/* ------------------- */
/* Components          */
/* ------------------- */
/* Button */
.button {
  background-color: var(--box-color);
  color: var(--text-color);
  padding: .5rem .75rem;
  min-width: 3.5rem;
  max-height: 2.5rem;
}

.button[aria-selected="true"] {
  background-color: var(--activeButton-bg);
}

.removeButton {
  border: solid 2px hsl(226, 11%, 37%);
  color: var(--text-color);
  padding: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--activeButton-bg);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------- */
/* Header              */
/* ------------------- */
.header {
  margin: 2rem .5rem 0 .5rem;
  background: var(--box-color);
}

.logo > path {
  fill: var(--text-color);
}

.theme-icon {
  background-color: var(--themeIcon-bg-color);
  border: none;
  cursor: pointer;
  padding: 0.75rem;
}

/* ------------------- */
/* Filter Menu         */
/* ------------------- */
.filterMenu {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


/* ------------------- */
/* Extension           */
/* ------------------- */
.extension {
  padding: 1rem;
  background: var(--box-color);
  min-height: 12rem;
  flex-direction: column;
}

.extensionIconImg {
  align-self: flex-start;
}

@media screen and (min-width: 460px) {
  .margin-460 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .padding-460 {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 600px) {

}